{% if product.has_only_default_variant %}
<div class="rounded-[24px] bg-[#CCAC71] text-[#54443B] text-[14px] w-[calc(100%-32px)] h-[56px] absolute bottom-[16px] left-[16px]">
    <a href="/cart/add?id={{ product.selected_or_first_available_variant.id }}&quantity=1 text-white add_product_variants" class="text-white w-full h-full flex justify-center items-center">ADD TO BAG</a>
  {% else %}
<div class="add_to_bag rounded-[24px] bg-[#CCAC71] text-[#54443B] text-[14px] w-[calc(100%-32px)] h-[56px] absolute bottom-[16px] left-[16px]">
    <a href="javascript:void(0)" class="choose_option text-white flex justify-center items-center h-full w-full cursor-pointer">CHOOSE OPTION</a>
    <div class="options_list flex flex-col w-full absolute left-[0] bg-white  h-[114px] top-[-114px] pt-[21px] border-t border-[#E6DFDB]">
      <div class="flex gap-[11px] justify-between">
        {% for variant in product.variants %}
          <h4
            data-id="{{ variant.id }}"
            data-price="{{ variant.price | money_without_trailing_zeros }}"
            class="
            add_option flex flex-grow h-[34px] border border-[#E6DFDB] justify-center items-center rounded-[12px] cursor-pointer
            {% if forloop.index == 1 %}
              active
            {% endif %}">
            {{ variant.option1 }}</h4>
        {% endfor %}
      </div>
      <h4 class="mt-2 mx-auto text-[18px]">{{ product.first_available_variant.price | money_without_trailing_zeros }}</h4>
    </div>
  {% endif %}
</div>