<div class="ajax_cart_container fixed w-full h-full left-[0] top-[0] z-[2]">
  <div class="ajax_cart_background absolute w-full h-full z-[1] eft-[0] top-[0] bg-black bg-opacity-40"></div>
  <div class="ajax_cart absolute top-[0] right-[0] w-full h-full bg-[#FBF9F9] z-[2]">
    <div class="flex items-center justify-between h-[68px] px-[16px] border-b border-[#E6DFDB]">
      <div class="flex gap-[4px]">
        <h2>cart</h2>
        <h2 class="cart_item_count">{{ cart.item_count }}</h2>
        <h2>items</h2>
      </div>
      <div class="ajax_cart_close">X</div>
    </div>
    <div class="absolute w-full top-[68px] left-[0px] h-[calc(100%-250px)]">
      {% if cart.item_count > 0 %}
        <div class="ajax_cart_products border-b border-[#E6DFDB] p-[16px]">
          {% for item in cart.items %}
            <div class="flex justify-between items-center w-full h-[127px] bg-white rounded-[16px] border border-[#E6DFDB] px-[16px] py-[12px]">
              <div>img</div>
              <div class="flex flex-col gap-[8px]">
                <h3>{{ item.title }}</h3>
                <h3>text</h3>
                <h3>{{ item.price | money }}</h3>
              </div>
              <div class="flex flex-col justify-between h-full">
                <h4>remove</h4>
                <div class="test_ajax">-{{ item.quantity }}+</div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="ajax_cart_recommended p-[16px]"></div>
      </div>
      <div class="absolute flex flex-col py-[24px] px-[16px] justify-between w-full left-0 bottom-[0] h-[182px] bg-white">
        <div class="flex justify-between">
          <h2>Estimated total:</h2>
          <h2>{{ cart.total_price | money }}</h2>
        </div>
        <h3>shipping and discounts calculated at checkout</h3>
        <button class="flex justify-center items-center bg-[#CCAC71] text-white w-full h-[56px] rounded-[24px]">CHECKOUT</button>
      </div>
    </div>
  {% else %}
    Your cart is empty
  {% endif %}
</div>