<div class="relative w-[316px]">
  <div class="flex flex-col h-[488px] rounded-[48px] justify-between p-4 bg-white border border-taupe-20 relative">
    <a href="{{ product.url }}">
      <div class="w-full h-[200px] mb-2">
        <img
          class="w-full h-full object-contain"
          src="{{ product.featured_image | img_url: 'master'}}"
          alt="">
      </div>
      <h2 class="body-m-semibold text-taupe-200 text-center mb-[2px]">{{ product.title }}</h2>
      <h2 class="body-s text-taupe-200 text-center mb-[16px]">{{ product.options_by_name['color'].values }}</h2>
      <h2 class="body-s text-taupe-200 text-center mb-[24px] max-h-[68px] overflow-hidden">{{ product.description }}</h2>
      <h2 class="body-m-semibold text-taupe text-center absolute bottom-[96px] left-[50%] translate-x-[-50%]">{{ product.price | money }}</h2>
      <div class="w-full h-[56px]"></div>
    </a>
    {% if product.has_only_default_variant %}
      <div class="rounded-[24px] bg-ecru w-[calc(100%-32px)] h-[56px] absolute bottom-[16px] left-[16px]">
        <a href="/cart/add?id={{ product.selected_or_first_available_variant.id }}&quantity=1 text-white add_product_variants" class="CTA text-white w-full h-full flex justify-center items-center">ADD TO BAG</a>
      </div>
    {% else %}
      <div class="add_to_bag rounded-[24px] bg-ecru w-[calc(100%-32px)] h-[56px] absolute bottom-[16px] left-[16px]">
        <a href="javascript:void(0)" class="CTA choose_option text-white flex justify-center items-center h-full w-full cursor-pointer">CHOOSE OPTION</a>
        <div class="options_list flex flex-col w-full absolute left-[0] bg-white  h-[114px] pt-[21px] border-t border-taupe-20">
          <div class="flex gap-[11px] justify-between">
            {% for variant in product.variants %}
              <h4
                data-id="{{ variant.id }}"
                data-price="{{ variant.price | money }}"
                class="body-s-semibold
                add_option flex flex-grow h-[34px] border border-taupe-20 justify-center items-center rounded-[12px] cursor-pointer
                {% if forloop.index == 1 %}
                  active
                {% endif %}">
                {{ variant.option1 }}</h4>
            {% endfor %}
          </div>
          <h4 class="body-m-semibold option_price mt-2 mx-auto">{{ product.first_available_variant.price | money }}</h4>
        </div>
      </div>
    {% endif %}
    <div class="remove_from_wishlist icon_close bg-primary-20 w-[40px] h-[40px] rounded-[14px] absolute top-[23px] right-[24px]" data-handle="{{ product.handle }}"></div>
  </div>
</div>