{% if product %}

  <div class="product_recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ number }}&intent={{ recommendation_type }}">
    {%- if recommendations.performed? -%}
      {%- if recommendations.products_count > 0 -%}
      {% comment %}
      {% if recommendations.intent == 'related' %}
      <h2>You may also like</h2>
      {% elsif recommendations.intent == 'complementary' %}
      <h2>Pair it with</h2>
      {% endif %}
      {% endcomment %}
      {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
      <div class="flex flex-wrap gap-[16px] justify-center">
        <div class="swiper recommended_products_swiper">
          <div class="swiper-wrapper">
            {%- for product in recommendations.products -%}
              <div class="swiper-slide">
                {% include 'product_card' with product, wishlist_array %}
              </div>
            {%- endfor -%}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      {%- else -%}
      <h2>Recommendations product count is 0</h2>
    {%- endif -%}
    {%- else %}
    <h2>Recommendations was not performed.</h2>
  {%- endif -%}
  </div>
{% else %}
  <div class="flex flex-col justify-center items-center">
    <h2>Product Recommendations Error:</h2>
    <h2>No product found in context, please select one from the section options administration</h2>
  </div>
{% endif %}
