{% assign variants_number = product.variants | size %}
<div class="relative">
  <div class="flex flex-col h-[496px] rounded-[48px] justify-between p-4 bg-white border border-taupe-20 relative overflow-hidden">
    <a href="{{ product.url }}">
      <div class="w-full h-[200px] mb-2">
        <img
          class="w-full h-full object-contain"
          src="{{ product.featured_image | img_url: 'master'}}"
          alt="">
      </div>
      <h2 class="body-m-semibold text-taupe-200 text-center mb-[2px]">{{ product.title }}</h2>
      <h2 class="body-s text-taupe-200 text-center mb-[16px] absolute bottom-[170px] w-[calc(100%-32px)]">
        {% if product.has_only_default_variant or variants_number < 2 %}
          {{ product.first_available_variant.title }}
        {% else %}
          {{ product.options_by_name['color'].values }}</h2>
        {% endif  %}
      <h2 class="body-s text-taupe-200 text-center mb-[24px] max-h-[68px] overflow-hidden absolute bottom-[100px] w-[calc(100%-32px)]">{{ product.description }}</h2>
      <h2 class="body-m-semibold text-taupe text-center absolute bottom-[96px] left-[50%] translate-x-[-50%]">{{ product.price | money }}</h2>
      <div class="w-full h-[56px]"></div>
    </a>
    {% if product.has_only_default_variant or variants_number < 2 %}
      <div class="rounded-[24px] bg-ecru w-[calc(100%-32px)] h-[56px] absolute bottom-[16px] left-[16px] less_than_1">
        <a
          href="javascript:void(0);"
          data-id="{{ product.first_available_variant.id }}"
          class="CTA text-white w-full h-full flex justify-center items-center add_to_bag">ADD TO BAG</a>
      </div>
    {% else %}
      <div class="add_to_bag rounded-[24px] bg-ecru w-[calc(100%-32px)] h-[56px] absolute bottom-[16px] left-[16px] cursor-pointer">
        <a
          href="javascript:void(0)"
          data-id="{{ product.first_available_variant.id }}"
          class="CTA choose_option text-white flex justify-center items-center h-full w-full cursor-pointer">CHOOSE OPTION</a>
        <div class="options_list flex flex-col w-full absolute left-[0] bg-white  h-[114px] pt-[21px] border-t border-taupe-20">
          <div class="flex gap-[11px] justify-between">
            {% for variant in product.variants %}
              <h4
                data-id="{{ variant.id }}"
                data-price="{{ variant.price | money }}"
                class="body-s-semibold
                add_option flex flex-grow h-[34px] border border-taupe-20 justify-center items-center rounded-[12px] cursor-pointer
                {% if forloop.index == 1 %}
                  active
                {% endif %}">
                {{ variant.option1 }}</h4>
            {% endfor %}
          </div>
          <h4 class="body-m-semibold option_price mt-2 mx-auto">min: {{ product.price_min }} max: {{ product.price_max }}</h4>
        </div>
      </div>
    {% endif %}
    <div
      class="w-[40px] h-[40px] before:w-[31px] before:h-[29px] after:w-[31px] after:h-[29px] heart_gold add_to_wishlist absolute top-[24px] right-[24px]
      {% for wishlist_item in wishlist_array %}
        {% assign current_product = all_products[wishlist_item] %}
        {% if current_product.handle == product.handle %}in_wishlist{% endif %}
      {% endfor %}"
      data-handle="{{ product.handle }}"></div>
    {% if product.tags.size > 0 %} 
      <div class="absolute left-[0] top-[28px] flex flex-col gap-[8px]">
        {% for tag in product.tags %}
          {% assign tagcheck = tag | downcase %}
          <span class="pt-[4px] pb-[5px] px-[12px] rounded-r-[9px] product-labels text-taupe-800 {% if tagcheck contains "new launch" %} bg-[#D8E2DC] {% elsif tagcheck contains "%" %} true bg-[#FAE1DD] {% else %} bg-[#DEE2FF] {% endif %} ">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>