<div
  class="relative">
  <div
    class="flex flex-col h-[488px] rounded-[48px] justify-between p-4 bg-white border border-[#E6DFDB] relative">
    <a
      href="{{ product.url }}">
      <div
        class="w-full h-[200px] mb-2">
        <img
          class="w-full h-full object-contain"
          src="{{ product.featured_image | img_url: 'master'}}"
          alt="">
      </div>
      <h2
        class="text-[18px] text-center mb-[2px]">{{ product.title }}</h2>
      <h2
        class="text-[16px] text-center text-red-300 mb-4">Hardcode Burgundy</h2>
      <h2
        class="text-[14px] text-center mb-6">{{ product.description }}</h2>

      <h2
        class="text-[14px] text-center absolute bottom-[96px] left-[50%] translate-x-[-50%]">{{ product.price | money_without_trailing_zeros }}</h2>
      <div
        class="w-full h-[56px]"></div>
    </a>
    {% if product.has_only_default_variant %}
      <div
        class="rounded-[24px] bg-[#CCAC71] text-[#54443B] text-[14px] w-[calc(100%-32px)] h-[56px] absolute bottom-[16px] left-[16px]">
        <a
          href="/cart/add?id={{ product.selected_or_first_available_variant.id }}&quantity=1 text-white add_product_variants"
          class="text-white w-full h-full flex justify-center items-center">ADD TO BAG</a>
      </div>

    {% else %}
      <div
        class="add_to_bag rounded-[24px] bg-[#CCAC71] text-[#54443B] text-[14px] w-[calc(100%-32px)] h-[56px] absolute bottom-[16px] left-[16px]">
        <a
          href="javascript:void(0)"
          class="choose_option text-white flex justify-center items-center h-full w-full cursor-pointer">CHOOSE OPTION</a>
        <div
          class="options_list flex flex-col w-full absolute left-[0] bg-white  h-[114px] pt-[21px] border-t border-[#E6DFDB]">
          <div
            class="flex gap-[11px] justify-between">
            {% for variant in product.variants %}
              <h4
                data-id="{{ variant.id }}"
                data-price="{{ variant.price | money_without_trailing_zeros }}"
                class="
                add_option flex flex-grow h-[34px] border border-[#E6DFDB] justify-center items-center rounded-[12px] cursor-pointer
                {% if forloop.index == 1 %}
                  active
                {% endif %}">
                {{ variant.option1 }}</h4>
            {% endfor %}
          </div>
          <h4
            class="option_price mt-2 mx-auto text-[18px]">{{ product.first_available_variant.price | money_without_trailing_zeros }}</h4>
        </div>
      </div>
    {% endif %}
    <div
      class="w-[40px] h-[40px] border border-[#CCAC71] heart_gold add_to_wishlist absolute top-[24px] right-[24px]
      {% for wishlist_item in wishlist_array %}
        {% assign current_product = all_products[wishlist_item] %}
        {% if current_product.handle == product.handle %}bg-[#CCAC71]
        {% else %}
          no-match{% endif %}
      {% endfor %}"
      data-handle="{{ product.handle }}"></div>
  </div>
</div>