<div
  class="section flex flex-col">
  <div
    class="flex justify-between">
    <h1
      class="text-[36px]">Hi {{ customer.first_name }}</h1>
    <a
      href="/account/logout/"
      class="logout text-[16px]">Logout</a>
  </div>
  <ul
    class="account_navigation">
    <li
      class="li_account">
      <div
        class="icon icon_account"></div>
      <h3>ACCOUNT</h3>
    </li>
    <li
      class="li_orders">
      <div
        class="icon icon_orders"></div>
      <h3>ORDERS</h3>
    </li>
    <li
      class="li_addresses">
      <div
        class="icon icon_addresses"></div>
      <h3>ADDRESSES</h3>
    </li>
    <li
      class="li_wishlist">
      <div
        class="icon icon_wishlist"></div>
      <h3>WISHLIST</h3>
    </li>
  </ul>



  <div>
    <h2>Account</h2>
    <div
      class="bg-white rounded-[20px] flex flex-col p-6 border border-[#E6DFDB] m-auto max-w-[868px]">
      <h2>{{ customer.first_name }} {{ customer.last_name }}</h2>
      <h2>{{ customer.email }}</h2>
      <h2>Password length</h2>
      <h2
        class="recover_password_trigger">Reset password</h2>
      {% render "recover_password_form" %}
    </div>
  </div>



  <div
    class="flex flex-col bg-white md:bg-red-300">
    <h2>Orders</h2>
    {% paginate customer.orders by 10 %}
      {% for order in customer.orders %}
        Order Listed:
        <h2>Order: (Number) {{ order.order_number }}</h2>
        <h2>Created At: {{ order.created_at }}</h2>
        {% if order.cancelled %}
          <h2>Fulfillment Status: Cancelled</h2>
        {% else %}
          <h2>Fulfillment Status (Order cancelled?): {{ order.fulfillment_status_label }}</h2>
        {% endif %}
        <h2>Order (financial status): {{ order.financial_status_label }}</h2>
        <h2>Total: {{ order.line_items_subtotal_price }}</h2>
      {% endfor %}
      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>



  <div
    class="flex flex-col">
    <h2>Addresses</h2>
    Count: {{ customer.addresses_count }}
    {% if customer.addresses_count > 0 %}
      Default:
      {{ customer.default_address }} {{ customer.default_address.country }}{{ customer.default_address.first_name }}{{ customer.default_address.last_name }}{{ customer.default_address.name }}
      Address default?
      {% form 'customer_address', customer.default_address %}
        <div class="flex justify-center items-center max-w-[662px] bg-white px-[16px] pt-[24px] pb-[32px] rounded-[24px]">
          <!-- form content -->
          <div
            class="flex flex-wrap gap-x-[8px] gap-y-[16px]">
            <div
              class="w-full flex justify-between">
              <h2
                class="w-1/2">Edit address</h2>
              <h2>Close</h2>
            </div>
            <select
              class="w-full rounded-[12px] border border-[#EAE2DB]"
              name="address[country]">
              {{ all_country_option_tags }}
            </select>
            <input
              class="w-1/2 rounded-[12px] border border-[#EAE2DB]"
              type="text"
              name="address[first_name]"
              placeholder="First Name"
              value="{{ customer.default_address.first_name }}">
            <input
              class="w-full rounded-[12px] border border-[#EAE2DB]"
              type="text"
              name="address[last_name]"
              placeholder="Last Name"
              value="{{ customer.default_address.last_name }}">
            <input
              class="w-full rounded-[12px] border border-[#EAE2DB]"
              type="text"
              name="address[address1]"
              placeholder="Address"
              value="{{ customer.default_address.address1 }}">
            <input
              class="w-full rounded-[12px] border border-[#EAE2DB]"
              type="text"
              name="address[address2]"
              placeholder="Apartment, suite, etc. (opt)"
              value="{{ customer.default_address.address2 }}">
            <input
              class="w-full rounded-[12px] border border-[#EAE2DB]"
              type="text"
              name="address[city]"
              placeholder="City"
              value="{{ customer.default_address.city }}">
            <input
              class="w-full rounded-[12px] border border-[#EAE2DB]"
              type="text"
              name="address[zip]"
              placeholder="ZIP Code"
              value="{{ customer.default_address.zip }}">
            <input
              class="w-full rounded-[12px] border border-[#EAE2DB]"
              type="tel"
              name="address[phone]"
              placeholder="Phone"
              value="{{ customer.default_address.phone }}">
            <h3
              class="w-full">
              Checkbox Set as default
            </h3>
            <button
              class="w-full"
              type="submit">UPDATE ADDRESS</button>
          </div>
        </div>
      {% endform %}
      {% for address in customer.addresses %}
        AddressDrop
        <!-- address details -->
      {% endfor %}
      {% if customer.default_address %}
        <p>{{ customer.default_address.address1 }}</p>

        {% if customer.default_address.address2 != blank %}
          <p>{{ customer.default_address.address2 }}</p>
        {% endif %}

        <p>{{ customer.default_address.city }}
          {% if customer.default_address.province_code %}
            {{ customer.default_address.province_code }}{% endif %}, {{ customer.default_address.country_code }}</p>
        <p>{{ customer.default_address.zip_code }}</p>
        <p>{{ customer.default_address.phone }}</p>
      {% endif %}
    {% else %}
      <h2>You currently have no saved addresses</h2>
    {% endif %}
    ADD NEW ADDRESS
    {% form 'customer_address', customer.new_address %}
      <!-- form content -->
    {% endform %}
    {% comment %}
    DELETE ADDRESS
    <form class="address-delete-form"
    method="post"
    action="/account/addresses/{{ address.id }}"
    >
    <input type="hidden" name="_method" value="delete">
    <button type="submit">{{ 'customer.addresses.delete' | t }}</button>
    </form>
    {% endcomment %}
  </div>



  <div
    class="flex flex-col relative">
    <h2>Wishlist</h2>
    {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
    <div
      class="flex flex-wrap gap-y-[32px] gap-x-[16px]">
      {% for wishlist_item in wishlist_array %}
        {% if wishlist_item != "null" %}
          {% assign product = all_products[wishlist_item] %}
          {% include 'product_card_wishlist' with product %}
        {% else %}
          Your wishlist is empty, start shopping now!
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>