{% assign selected = "account" %}
{% include 'account_nav' with selected %}
<div
  class="section flex flex-col">
  <div>
    <h2>Account</h2>
    <div
      class="bg-white rounded-[20px] flex flex-col p-6 border border-[#E6DFDB] m-auto max-w-[868px]">
      <h2>{{ customer.first_name }} {{ customer.last_name }}</h2>
      <h2>{{ customer.email }}</h2>
      <h2>Password length</h2>
      <h2
        class="recover_password_trigger">Reset password</h2>
      {% render "recover_password_form" %}
    </div>
  </div>



  <div
    class="flex flex-col bg-white md:bg-red-300">
    <h2>Orders</h2>
    {% paginate customer.orders by 10 %}
      {% for order in customer.orders %}
        Order Listed:
        <h2>Order: (Number) {{ order.order_number }}</h2>
        <h2>Created At: {{ order.created_at }}</h2>
        {% if order.cancelled %}
          <h2>Fulfillment Status: Cancelled</h2>
        {% else %}
          <h2>Fulfillment Status (Order cancelled?): {{ order.fulfillment_status_label }}</h2>
        {% endif %}
        <h2>Order (financial status): {{ order.financial_status_label }}</h2>
        <h2>Total: {{ order.line_items_subtotal_price }}</h2>
      {% endfor %}
      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>

  <div
    class="flex flex-col relative">
    <h2>Wishlist</h2>
    {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
    <div
      class="flex flex-wrap gap-y-[32px] gap-x-[16px]">
      {% for wishlist_item in wishlist_array %}
        {% if wishlist_item != "null" %}
          {% assign product = all_products[wishlist_item] %}
          {% include 'product_card_wishlist' with product %}
        {% else %}
          Your wishlist is empty, start shopping now!
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>