<div
  class="addresses_page">
  {% assign selected = 'addresses' %}
  {% include "account_nav", selected %}
  <div
    class="section">
    <div
      class="flex flex-col">
      <h2>Addresses</h2>
      Count: {{ customer.addresses_count }}
      {% if customer.addresses_count > 0 %}
        <div
          class="flex flex-col sm:flex-row w-full max-w-[868px] bg-white rounded-[20px] border border-[#E6DFDB] p-[24px] m-auto">
          <div
            class="flex flex-col w-full">
            <h2
              class="text-[#56463D] text-[24px] mb-[8px]">Default address</h2>
            <h3
              class="text-[18px] mb-[4px]">{{ customer.default_address.name }}</h3>
            <h3
              class="text-[18px] mb-[8px] sm:mb-[0]">{{ customer.default_address.country }}</h3>
          </div>
          <div
            class="w-full flex sm:justify-end sm:items-start">
            <button
              class="edit_address_button underline">Edit</button>
            {% assign form_address = customer.default_address %}
            {% assign existing = true %}
            {% include 'address_form' with form_address, existing %}
          </div>
        </div>
        {% for address in customer.addresses %}
          <div
            class="flex flex-col sm:flex-row w-full max-w-[868px] bg-white rounded-[20px] border border-[#E6DFDB] p-[24px] m-auto">
            <div
              class="flex flex-col w-full">
              <h2
                class="text-[#56463D] text-[24px] mb-[8px]">Secondary address</h2>
              <h3
                class="text-[18px] mb-[4px]">{{ address.name }}</h3>
              <h3
                class="text-[18px] mb-[8px] sm:mb-[0]">{{ address.country }}</h3>
            </div>
            <div
              class="w-full flex sm:justify-end sm:items-start">
              <button
                class="edit_address_button underline">Edit</button>
              {% assign form_address = address %}
              {% assign existing = true %}
              {% include 'address_form' with form_address, existing %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h2>You currently have no saved addresses</h2>
      {% endif %}
      <div
        class="m-auto">
        <button
          class="edit_address_button border border-[#CCAC71] h-[56px] w-[150px] m-auto rounded-[12px] flex justify-center items-center text-[#CCAC71]">
          ADD ADDRESS
        </button>
        {% assign form_address = customer.new_address %}
        {% assign existing = false %}
        {% include 'address_form' with form_address, existing %}
      </div>

      {% comment %}
      DELETE ADDRESS
      <form class="address-delete-form"
      method="post"
      action="/account/addresses/{{ address.id }}"
      >
      <input type="hidden" name="_method" value="delete">
      <button type="submit">{{ 'customer.addresses.delete' | t }}</button>
      </form>
      {% endcomment %}
    </div>
  </div>
</div>