<html>
  <head>
    {{ content_for_header }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'typography.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="bg-neutral relative" data-currency="{{ cart.currency.symbol }}">
    <div class="master_header w-full h-fit fixed top-0 left-0 z-[3]">
      {% section "theme_special_offer_banner" %}
      {% section "theme_header" %}
    </div>
    <main class="main pt-[81px] lg:pt-[97px]">
      {{ template }}
      {% if  template != 'product' %}
        <div class="section">{% include 'breadcrumb' %}</div>
      {% endif %}
      {% include 'ajax_cart' %}
      {{ content_for_layout }}
      {% include 'video_player' %}
      {% include 'added_to_cart_popup' %}
      {% include 'login_popup' %}
    </main>

    {% section "theme_footer" %}
    <script
      src="{{ 'main.js' | asset_url }}"
      defer="defer"
      type="module"></script>

  </body>
</html>