<div class="section flex flex-col sm:flex-row h-[595px] sm:h-[640px] mb-[64px] rounded-[20px] border border-[#E6DFDB]">
  <div>
    <div class="h-full w-full">
      {% if section.settings.background_image != null %}
        <img
          class="h-full w-full object-cover"
          src="{{ section.settings.background_image | img_url: 'master'}}"
          alt="">
      {% endif %}
    </div>
    <div class="w-full sm:w-[491px] bg-white rounded-[240px] border border-[#E6DFDB]">
      {% if section.settings.title != null %}
        <h2 class="mb-2 text-[32px] text-[#56463D] text-center">{{ section.settings.title }}</h2>
      {% endif %}

      {% if section.settings.paragraph != null %}
        <h3 class="mb-4 text-[16px] text-[#7B695E] text-center">{{ section.settings.paragraph }}</h3>
      {% endif %}

      <a href="{% if section.settings.button_link != null%} {{ section.settings.button_link }} {% endif %}" class="border-[#CCAC71] border text-[14px] uppercase py-[19px] px-[24px] flex gap-2 w-fit rounded-[24px] sm:mx-auto items-center">
        {% if section.settings.button_text != null %}
          <h3 class="text-[#CCAC71] h-[18px]">{{ section.settings.button_text }}</h3>
        {% endif %}
        <div class="button_arrow button_arrow_gold"></div>
      </a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Call to Action",
    "settings": [
      {
        "type": "image_picker",
        "label": "Background Image",
        "id": "background_image"
      },
      {
        "type": "text",
        "label": "Title",
        "id": "title"
      },
      {
        "type": "textarea",
        "label": "Paragraph",
        "id": "paragraph"
      },
      {
        "type": "text",
        "label": "Button Text",
        "id": "button_text"
      }, {
        "type": "url",
        "label": "Button Link",
        "id": "button_link"
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Call to Action"
      }
    ]
  }
{% endschema %}