<div class="max-w-[1440px] mx-[auto] px-[0] md:px-[64px]">
  <div class="flex flex-col md:flex-row h-[595px] md:h-[640px] mb-[64px] md:rounded-[20px] md:border border-[#E6DFDB] overflow-hidden">
    <div class="h-[356px] md:h-full w-full">
      {% if section.settings.background_image != null %}
        <img
          class="h-full w-full object-cover"
          src="{{ section.settings.background_image | img_url: 'master'}}"
          alt="">
      {% endif %}
    </div>
    <div class="flex flex-col items-center justify-center w-full md:w-[411px] lg:w-[490px] bg-white min-h-[240px] md:rounded-[240px] md:border border-[#E6DFDB] shrink-0">
      {% if section.settings.title != null %}
        <h2 class="subtitle-2 text-taupe mb-[8px] text-center max-w-[320px]">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.paragraph != null %}
        <h3 class="body-m text-taupe-200 mb-[24px] text-center max-w-[320px]">{{ section.settings.paragraph }}</h3>
      {% endif %}
      <a href="{% if section.settings.button_link != null%} {{ section.settings.button_link }} {% endif %}" class="CTA CTA_secondary border-ecru border py-[18.5px] px-[32px] flex gap-2 w-fit rounded-[20px] sm:mx-auto items-center">
        {% if section.settings.button_text != null %}
          <h3 class="text-[#CCAC71] h-[18px]">{{ section.settings.button_text }}</h3>
        {% endif %}
        <div class="CTA_secondary_arrow">
          <svg
            width="25"
            height="20"
            viewBox="0 0 25 20"
            fill="#000"
            xmlns="http://www.w3.org/2000/svg">
            <path
              class="fill-ecru"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M23.9551 10.499H25V9.49903H23.955C22.4386 9.38285 20.1288 8.76991 18.1552 7.3136C16.1904 5.86381 14.5514 3.57573 14.3485 0.0585938L13.3502 0.11619C13.5721 3.96209 15.3845 6.5119 17.5614 8.11825C18.3414 8.69382 19.1673 9.14792 19.9827 9.49903L0 9.49903L0 10.499L19.9828 10.499C19.1673 10.8501 18.3415 11.3042 17.5614 11.8798C15.3845 13.4862 13.5721 16.036 13.3502 19.8819L14.3485 19.9395C14.5514 16.4223 16.1904 14.1343 18.1552 12.6845C20.1288 11.2281 22.4386 10.6152 23.9551 10.499Z"
              fill="#CCAC71" />
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Call to Action",
    "settings": [
      {
        "type": "image_picker",
        "label": "Background Image",
        "id": "background_image"
      },
      {
        "type": "text",
        "label": "Title",
        "id": "title"
      },
      {
        "type": "textarea",
        "label": "Paragraph",
        "id": "paragraph"
      },
      {
        "type": "text",
        "label": "Button Text",
        "id": "button_text"
      }, {
        "type": "url",
        "label": "Button Link",
        "id": "button_link"
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Call to Action"
      }
    ]
  }
{% endschema %}