<div class="w-full border-ecru {% if section.settings.b_top == true %} border-t {% endif %} {% if section.settings.b_bot == true %} border-b {% endif %}">
  <div class="section pt-[47px] md:pt-[72px] pb-[35px]">
    {% assign title_text = section.settings.section_title %}
    {% assign title_image = section.settings.title_image %}
    {% include 'section_title' with title_text, title_image %}
    <div class="video_feed_with_text flex gap-6 min-h-[400px] flex-col-reverse md:flex-row">
      <div class="video_feed_list md:w-[50%] md:flex items-center hidden pt-[36px]">
        <ol class="max-w-[648px]">
          {% for block in section.blocks %}
            <li class="mb-[48px]">
              {% if block.settings.video_title != null %}
                <h2 class="subtitle-2 text-taupe mb-[4px]">{{ block.settings.video_title }}</h2>
              {% endif %}
              {% if block.settings.video_paragraph != null %}
                <h3 class="body-m text-taupe-200">{{ block.settings.video_paragraph }}</h3>
              {% endif %}
              {% if block.settings.button_text != null %}
                <button class="CTA_secondary  outline outline-1 ring-ecru text-ecru flex items-center justify-center gap-[8px] rounded-[20px]">
                  <h4 class="CTA">{{ block.settings.button_text }}</h4>
                  <div class="CTA_secondary_arrow">
                    <svg
                      width="12"
                      height="18"
                      viewBox="0 0 12 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M11.1116 7.83035L11.1115 7.83038L11.1137 7.83202C11.6018 8.20323 11.9 8.81345 11.9 9.45861C11.9 10.1035 11.6017 10.7138 11.105 11.0915L11.1049 11.0914L11.1028 11.0931L3.17494 17.469C2.83433 17.7281 2.44181 17.8609 2.03105 17.8609C1.72975 17.8609 1.42766 17.7856 1.15778 17.643C0.506437 17.2978 0.1 16.6083 0.1 15.8416V3.07534C0.1 2.3089 0.506725 1.61969 1.1576 1.27415C1.79334 0.937621 2.59079 1.00397 3.16659 1.44135L11.1116 7.83035ZM1.42581 1.84056L1.42562 1.84066C0.976278 2.07915 0.698696 2.55355 0.698696 3.07534V15.8416C0.698696 16.3639 0.97595 16.8381 1.42565 17.0766L1.42577 17.0766C1.86789 17.3103 2.42015 17.2633 2.81781 16.9604L2.81783 16.9604L2.81989 16.9588L10.7477 10.5829C11.098 10.3159 11.301 9.89824 11.301 9.45829C11.301 9.0188 11.0984 8.60096 10.7561 8.34023L2.81146 1.95154L2.81148 1.95151L2.80927 1.94983C2.58835 1.78207 2.3158 1.68959 2.03135 1.68959C1.82163 1.68959 1.61242 1.74202 1.42581 1.84056Z"
                        fill="#CCAC71"
                        stroke="#CCAC71"
                        stroke-width="0.2" />
                    </svg>
                  </div>
                </button>
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
      <div class="video_feed_videos h-[400px] relative md:w-[50%]">
        {% for block in section.blocks %}
          <div data-video="{% for source in block.settings.video.sources %}{{ source.url }}|{{ source.format }};{% endfor %}" class="video_feed_video w-[320px] h-[400px] rounded-[140px]">
            <img
              class="w-full h-full object-cover rounded-[32px] absolute top-[0] left-[0]"
              src="{{ block.settings.video.preview_image.src | img_url: 'large' }}"
              alt="">
            <div class="video_play_white"></div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="md:hidden pt-[24px]">
      <div class="swiper video_feed_with_text_swiper">
        <div
          class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide relative flex">
              {% if block.settings.video_title != null %}
                <h2 class="subtitle-2 text-taupe mb-[4px]">{{ block.settings.video_title }}</h2>
              {% endif %}
              {% if block.settings.video_paragraph != null %}
                <h3 class="body-m text-taupe-200 text-justify mb-[16px]">{{ block.settings.video_paragraph }}</h3>
              {% endif %}
              {% if block.settings.button_text != null %}
                <button class="CTA_secondary  outline outline-1 ring-ecru text-ecru flex items-center justify-center gap-[8px] rounded-[20px] py-[18.5px] px-[48px]">
                  <h4 class="CTA">{{ block.settings.button_text }}</h4>
                  <div class="CTA_secondary_arrow">
                    <svg
                      width="12"
                      height="18"
                      viewBox="0 0 12 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M11.1116 7.83035L11.1115 7.83038L11.1137 7.83202C11.6018 8.20323 11.9 8.81345 11.9 9.45861C11.9 10.1035 11.6017 10.7138 11.105 11.0915L11.1049 11.0914L11.1028 11.0931L3.17494 17.469C2.83433 17.7281 2.44181 17.8609 2.03105 17.8609C1.72975 17.8609 1.42766 17.7856 1.15778 17.643C0.506437 17.2978 0.1 16.6083 0.1 15.8416V3.07534C0.1 2.3089 0.506725 1.61969 1.1576 1.27415C1.79334 0.937621 2.59079 1.00397 3.16659 1.44135L11.1116 7.83035ZM1.42581 1.84056L1.42562 1.84066C0.976278 2.07915 0.698696 2.55355 0.698696 3.07534V15.8416C0.698696 16.3639 0.97595 16.8381 1.42565 17.0766L1.42577 17.0766C1.86789 17.3103 2.42015 17.2633 2.81781 16.9604L2.81783 16.9604L2.81989 16.9588L10.7477 10.5829C11.098 10.3159 11.301 9.89824 11.301 9.45829C11.301 9.0188 11.0984 8.60096 10.7561 8.34023L2.81146 1.95154L2.81148 1.95151L2.80927 1.94983C2.58835 1.78207 2.3158 1.68959 2.03135 1.68959C1.82163 1.68959 1.61242 1.74202 1.42581 1.84056Z"
                        fill="#CCAC71"
                        stroke="#CCAC71"
                        stroke-width="0.2" />
                    </svg>
                  </div>
                </button>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Video Feed With Text",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }, {
        "label": "Border Top",
        "type": "checkbox",
        "id": "b_top"
      }, {
        "label": "Border Bottom",
        "type": "checkbox",
        "id": "b_bot"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Video With Description",
        "settings": [
          {
            "type": "text",
            "label": "Video Title",
            "id": "video_title"
          },
          {
            "type": "textarea",
            "label": "Video Pargraph",
            "id": "video_paragraph"
          },
          {
            "type": "text",
            "label": "Video Button Text",
            "id": "button_text",
            "default": "Watch Video"
          },
          {
            "type": "video",
            "label": "Video",
            "id": "video"
          }, {
            "type": "url",
            "label": "Video Url",
            "id": "video_url"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Video Feed With Text"
      }
    ]
  }
{% endschema %}