<div class="swiper hero_swiper w-full h-[735px] md:h-[600px]">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="swiper-slide relative  md:px-[64px] flex-col-reverse flex">

        <div class="flex flex-col relative md:absolute px-[24px] md:px-[0] md:left-[65px] md:bottom-[111px] md:z-[1]  md:self-end">

          {% if block.settings.slide_title != null %}
            <h2 class="mx-[auto] md:mx-[0] mb-2 text-center md:text-left text-[40px] md:text-[56px] text-[#56463D] md:text-white max-w-[650px]">{{ block.settings.slide_title }}</h2>
          {% endif %}

          {% if block.settings.slide_paragraph != null %}
            <h3 class="mx-[auto] md:mx-[0] mb-8 text-center md:text-left text-[16px] text-[#56463D] md:text-white max-w-[550px]">{{ block.settings.slide_paragraph }}</h3>
          {% endif %}

          <a href="{% if block.settings.button_link != null%} {{ block.settings.button_link }} {% endif %}" class="mx-[auto] md:mx-[0] bg-[#CCAC71] text-[14px] uppercase py-[19px] px-[24px] flex gap-2 w-fit rounded-[24px] text-white items-center">
            {% if block.settings.button_text != null %}
              <h2 class="h-[18px]">{{ block.settings.button_text }}</h2>
            {% endif %}
            <div class="button_arrow button_arrow_white"></div>
          </a>

        </div>
        {% if block.settings.slide_image != null %}
          <div class="md:absolute md:top-0 md:left-0 w-full min-h-[260px] md:h-full">
            <img
              class="w-full h-full object-cover"
              src="{{ block.settings.slide_image | img_url: 'master'}}"
              alt="">
          </div>
        {% endif %}


      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</div>
{% schema %}
  {
    "name": "Hero Swiper",
    "blocks": [
      {
        "type": "section",
        "name": "Slide",
        "settings": [
          {
            "type": "text",
            "label": "Slide Title",
            "id": "slide_title"
          },
          {
            "type": "text",
            "label": "Slide Paragraph",
            "id": "slide_paragraph"
          },
          {
            "type": "url",
            "label": "Button Link",
            "id": "button_link"
          },
          {
            "type": "text",
            "label": "Button Text",
            "id": "button_text"
          }, {
            "type": "image_picker",
            "label": "Slide Image",
            "id": "slide_image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Hero Swiper"
      }
    ]
  }
{% endschema %}