<div class="section pt-[72px] pb-[32px] border-ecru {% if section.settings.b_top == true %} border-t {% endif %} {% if section.settings.b_bot == true %} border-b {% endif %}">
  {% assign title_text = section.settings.section_title %}
  {% assign title_image = section.settings.title_image %}
  {% include 'section_title' with title_text, title_image %}
  <div class="video_feed_with_text flex gap-6 min-h-[400px] flex-col-reverse md:flex-row">
    <div class="video_feed_list md:w-[50%] md:flex items-center hidden pt-[36px]">
      <ol class="max-w-[648px]">
        {% for block in section.blocks %}
          <li class="mb-[48px]">
            {% if block.settings.video_title != null %}
              <h2 class="subtitle-2 text-taupe mb-[4px]">{{ block.settings.video_title }}</h2>
            {% endif %}
            {% if block.settings.video_paragraph != null %}
              <h3 class="body-m text-taupe-200">{{ block.settings.video_paragraph }}</h3>
            {% endif %}
            {% if block.settings.button_text != null %}
              <button class="CTA_secondary CTA text-ecru py-[18.5px] px-[32px] flex items-center justify-center gap-[8px] rounded-[20px]">
                {{ block.settings.button_text }}
                <div class="video_play_gold"></div>
              </button>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
    <div class="video_feed_videos h-[400px] relative md:w-[50%]">
      {% for block in section.blocks %}
        <div data-video="{% for source in block.settings.video.sources %}{{ source.url }}|{{ source.format }};{% endfor %}" class="video_feed_video w-[342px] md:w-[320px] h-[400px] rounded-[140px]">
          <img
            class="w-full h-full object-cover rounded-[32px] absolute top-[0] left-[0]"
            src="{{ block.settings.video.preview_image.src | img_url: 'large' }}"
            alt="">
          <div class="video_play_white"></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="section md:hidden">
    <div class="swiper video_feed_with_text_swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide relative flex">
            {% if block.settings.video_title != null %}
              <h2 class="text-[32px] text-center text-[#56463D] px-[30px] mb-[4px]">{{ block.settings.video_title }}</h2>
            {% endif %}
            {% if block.settings.video_paragraph != null %}
              <h3 class="text-justify">{{ block.settings.video_paragraph }}</h3>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Video Feed With Text",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }, {
        "label": "Border Top",
        "type": "checkbox",
        "id": "b_top"
      }, {
        "label": "Border Bottom",
        "type": "checkbox",
        "id": "b_bot"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Video With Description",
        "settings": [
          {
            "type": "text",
            "label": "Video Title",
            "id": "video_title"
          },
          {
            "type": "textarea",
            "label": "Video Pargraph",
            "id": "video_paragraph"
          },
          {
            "type": "text",
            "label": "Video Button Text",
            "id": "button_text",
            "default": "Watch Video"
          },
          {
            "type": "video",
            "label": "Video",
            "id": "video"
          }, {
            "type": "url",
            "label": "Video Url",
            "id": "video_url"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Video Feed With Text"
      }
    ]
  }
{% endschema %}