{% comment %} <h2>Test collection sort order {{ collection }}</h2>
{% for collection in collections %}
<h1>collection: {{ collection.title }}</h1>
{% assign products_by_filter = collection.products | sort: 'price' %}
<h2>prod by filt {{ products_by_filter }}</h2>
{% for product in products_by_filter %}
<h2>prod {{ product.title }}</h2>
<h2>price {{ product.price }}</h2>
{% endfor %}
{% endfor %}
{% assign products_by_price = collection.products | sort: "price" %}
{% for product in products_by_price %}
<h4>Product.title: {{ product.title }}</h4>
{% endfor %}
<h2>
section.settings.section_title{{ }}</h2>
<div class="m-auto">
<h2>Keys{{ product }}</h2>
{% for collection in collections %}
<h1>Collection name: {{ collection }}</h1>
{% for product in collection.products %}
<!-- Output product information here -->
<h2>Item title:{{ product.title }}</h2>
<p>Price: {{ product.price | money }}</p>
<!-- Add more product details as needed -->
{% endfor %}
{% endfor %}
</div>
{% endcomment %}
{{ customer.firstName }}
{{ customer.id }}

<div class="section mb-[64px] relative">
  <h2 class="text-center text-[32px] sm:text-[48px] mb-[48px] w-auto">
    {% if section.settings.title_image != null %}
      <span class="w-[50px] h-[50px]">
        <img
          class="h-[42px] inline-block"
          src="{{ section.settings.title_image | img_url: 'master'}}"
          alt="">
      </span>
    {% endif %}
    {% comment %} {% endcomment %}
    {% if section.settings.section_title != null %}
      {{ section.settings.section_title }}
    {% endif %}
    {% comment %} {% endcomment %}
    {% if section.settings.title_image != null %}
      <span class="w-[50px] h-[50px]">
        <img
          class="h-[42px] inline-block"
          src="{{ section.settings.title_image | img_url: 'master'}}"
          alt="">
      </span>
      {% comment %} {% endcomment %}
    {% endif %}
  </h2>

  {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
  <div class="swiper best_selling_swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign sorted_products = block.settings.selected_collection.products | sort: "best-selling" %}
        {% for product in sorted_products limit: block.settings.products_number %}
          <div class="swiper-slide relative flex">
            <div class="flex flex-col h-[488px] rounded-[48px] justify-between p-4 bg-white border border-[#E6DFDB] relative">
              <a href="{{ product.url }}">
                <div class="w-full h-[200px] mb-2">
                  <img
                    class="w-full h-full object-contain"
                    src="{{ product.featured_image | img_url: 'master'}}"
                    alt="">
                </div>
                <h2 class="text-[18px] text-center mb-[2px]">{{ product.title }}</h2>
                <h2 class="text-[16px] text-center text-red-300 mb-4">Hardcode Burgundy</h2>
                <h2 class="text-[14px] text-center mb-6">{{ product.description }}</h2>

                <h2 class="text-[14px] text-center absolute bottom-[96px] left-[50%] translate-x-[-50%]">{{ product.price | money_without_trailing_zeros }}</h2>
                <div class="w-full h-[56px]"></div>
              </a>
              <div
                class="flex justify-center items-center rounded-[24px] bg-[#CCAC71] text-white text-[14px] uppercase w-[calc(100%-32px)] h-[56px] absolute bottom-[16px] left-[16px]">
                {% if product.has_only_default_variant %}
                  <h3>Add to Bag</h3>
                {% else %}
                  <h3 href="/cart/add?id={{ variant.id }}&quantity=1">CHOOSE OPTIONS</h3>
                  <div class="flex flex-col w-full absolute left-[0] bg-white  h-[114px] top-[-114px] pt-[21px] ">
                    <div class="flex gap-[11px] justify-between">
                      {% for variant in product.variants %}
                        <h4
                          class="text-[#54443B] flex flex-grow h-[34px] border border-[#E6DFDB] justify-center items-center rounded-[12px]">{{ variant.option1 }}g{{ variant.price }}</h4>
                      {% endfor %}
                    </div>
                    <h4
                      class="text-black">Price: {{ product.first_available_variant.price }}</h4>
                  </div>
                {% endif %}

              </div>
            </div>
            <div
              class="w-[40px] h-[40px] border border-[#CCAC71] heart_gold add_to_wishlist absolute top-[24px] right-[24px]
              {% for wishlist_item in wishlist_array %}
                {% assign current_product = all_products[wishlist_item] %}
                {% if current_product.handle == product.handle %}bg-[#CCAC71]
                {% else %}
                  no-match{% endif %}
              {% endfor %}"
              data-handle="{{ product.handle }}"></div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Best Selling Products",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Collections",
        "settings": [
          {
            "type": "collection",
            "label": "Collection",
            "id": "selected_collection"
          }, {
            "type": "number",
            "label": "Number of products shown from collection",
            "id": "products_number"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Best Selling Products"
      }
    ]
  }
{% endschema %}