<div class="section pt-[72px] mb-[64px]">
  {% assign title_text = section.settings.section_title %}
  {% assign title_image = section.settings.title_image %}
  {% include 'section_title' with title_text, title_image %}
  <div class="flex flex-col sm:flex-row gap-4 sm:gap-[0] pt-[31px]">
    {% for block in section.blocks %}
      {% if block.settings.selected_collection != null %}
        <div class="flex flex-col w-full sm:w-[50%] overflow-hidden">
          <div class="relative w-[320px] h-[416px] mx-auto mb-4">
            {% if block.settings.collection_image != null %}
              <img
                class="w-full h-full rounded-[140px] object-cover"
                src="{{ block.settings.collection_image | img_url: 'master'}}"
                alt="">
            {% endif %}
            {% if block.settings.selected_collection != null %}
              <div class="absolute w-[249px] h-[249px] bottom-0 right-[-20%]">
                <img
                  class="w-full h-full"
                  src="{{ block.settings.selected_collection.featured_image | img_url: 'master'}}"
                  alt="">
              </div>
            {% endif %}
          </div>
          {% if block.settings.collection_title != null %}
            <h2 class="subtitle-2 text-taupe text-center mb-2">{{ block.settings.collection_title }}</h2>
          {% endif %}
          {% if block.settings.collection_description != null %}
            <h2 class="body-m text-taupe-200 text-center mb-4">{{ block.settings.collection_description }}</h2>
          {% endif %}
        {% endif %}
        <a href="{% if block.settings.selected_collection != null%} {{ block.settings.selected_collection.url }} {% endif %}" class="CTA CTA_secondary text-ecru border border-ecru py-[18.5px] px-[32px] flex gap-[8px] w-fit rounded-[24px] items-center mx-auto mb-8">
          {% if block.settings.button_text != null %}
            <h3 class="h-[18px]">{{ block.settings.button_text }}</h3>
          {% endif %}
          <div class="CTA_secondary_arrow">
            <svg
              width="25"
              height="20"
              viewBox="0 0 25 20"
              fill="#000"
              xmlns="http://www.w3.org/2000/svg">
              <path
                class="fill-ecru"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M23.9551 10.499H25V9.49903H23.955C22.4386 9.38285 20.1288 8.76991 18.1552 7.3136C16.1904 5.86381 14.5514 3.57573 14.3485 0.0585938L13.3502 0.11619C13.5721 3.96209 15.3845 6.5119 17.5614 8.11825C18.3414 8.69382 19.1673 9.14792 19.9827 9.49903L0 9.49903L0 10.499L19.9828 10.499C19.1673 10.8501 18.3415 11.3042 17.5614 11.8798C15.3845 13.4862 13.5721 16.036 13.3502 19.8819L14.3485 19.9395C14.5514 16.4223 16.1904 14.1343 18.1552 12.6845C20.1288 11.2281 22.4386 10.6152 23.9551 10.499Z"
                fill="#CCAC71" />
            </svg>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Links to Collections",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "label": "Collection",
            "id": "selected_collection"
          },
          {
            "type": "image_picker",
            "label": "Collection Product Image",
            "id": "collection_image"
          },
          {
            "type": "text",
            "label": "Collection Title",
            "id": "collection_title"
          },
          {
            "type": "text",
            "label": "Collection Description",
            "id": "collection_description"
          }, {
            "type": "text",
            "label": "Button Text",
            "id": "button_text"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Links to Collections"
      }
    ]
  }
{% endschema %}