<div class="section mb-[64px] relative">
  {% assign title_text = section.settings.section_title %}
  {% assign title_image = section.settings.title_image %}
  {% include 'section_title' with title_text, title_image %}
  <h3 class="text-[16px] text-center">{{ section.settings.paragraph }}</h3>
  <div class="flex flex-col gap-2">
    <div class="flex gap-2 w-full py-6 px-2">
      <div class="w-[72px] h-[68px] text-red-300">Image</div>
      <div class="flex flex-col justify-between gap-4">
        <h4 class="text-[18px] ">Product Enquiries</h4>
        <a href="mailto:{{ settings.product_enquiries_email }}" class="underline">{{ settings.product_enquiries_email }}</a>
      </div>
    </div>
    <div class="flex gap-2 w-full py-6 px-2">
      <div class="w-[72px] h-[68px] text-red-300">Image</div>
      <div class="flex flex-col justify-between gap-4">
        <h4 class="text-[18px]">Shipping Enquiries</h4>
        <a href="mailto:{{ settings.shipping_enquiries_email }}" class="underline">{{ settings.shipping_enquiries_email }}</a>
      </div>
    </div>
    <div class="flex gap-2 w-full py-6 px-2">
      <div class="w-[72px] h-[68px] text-red-300">Image</div>
      <div class="flex flex-col justify-between gap-4">
        <h4 class="text-[18px]">Phone</h4>
        <a href="tel:{{ settings.phone_number }}" class="underline">{{ settings.phone_number }}</a>
      </div>
    </div>
    <div class="flex gap-2 w-full py-6 px-2">
      <div class="w-[72px] h-[68px] text-red-300">Image</div>
      <div class="flex flex-col justify-between gap-4">
        <h4 class="text-[18px]">Address</h4>
        <h4>{{ settings.address }}</h4>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Get in Touch",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }, {
        "type": "richtext",
        "label": "Section Paragraph",
        "id": "paragraph"
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "Get in Touch"
      }
    ]
  }
{% endschema %}