<div class="block lg:hidden h-[56px] flex items-center">
  {% include 'breadcrumb' %}
</div>
<div class="product_page flex flex-col lg:flex-row lg:mx-[auto] lg:px-[64px] lg:max-w-[1440px] lg:gap-[16px] lg:pb-[24px]">
  <div class="w-full lg:w-1/2 relative">
    {% if product.media.size > 1 %}
      <div class="swiper single_product_swiper w-full sticky">
        <div class="swiper-wrapper lg:pl-[111px]">
          {% for image in product.media %}
            <div class="swiper-slide">
              <img
                class="w-full h-full object-cover"
                src="{{ image | img_url: 'master'}}"
                alt="">
              <div class="swiper_thumb hidden">
                <img
                  class="w-full h-full object-cover"
                  src="{{ image | img_url}}"
                  alt=""></div>
            </div>
          {% endfor %}
        </div>
        <div class="absolute w-[104px] h-full top-[0] left-[0] overflow-y-scroll">
          <div class="swiper-pagination hidden lg:flex h-fit !top-[0]"></div>
        </div>
        <div class="swiper-button-prev arrow_prev_next lg:hidden"></div>
        <div class="swiper-button-next arrow_prev_next lg:hidden"></div>
      </div>
    {% else %}
      <div class="w-full h-[360px] lg:h-[564px] p-[30px] lg:py-[58px] lg:px-[44px] sticky">
        <img
          class="w-full h-full object-cover"
          src="{{ product.featured_image | img_url: 'master'}}"
          alt="">
      </div>
    {% endif %}
  </div>
  <div class="w-full lg:w-1/2 z-[2] pt-[6px] lg:pt-[0]">
    <div class="hidden lg:block p-[16px] my-[24px]">
      {% include 'breadcrumb' %}
    </div>
    <div class="flex flex-col mx-[16px]">
      <div class="flex justify-between h-[52px] items-center mt-[2px] lg:mt-[0] mb-[16px]">
        <div class="review_only_stars"></div>
        {% assign wishlist_array = customer.metafields.custom.wishlist | split: "," %}
        <div
          class="w-[36px] h-[36px] before:w-[24px] before:h-[21px] after:w-[24px] after:h-[21px] heart_gold add_to_wishlist relative
          {% for wishlist_item in wishlist_array %}
            {% assign current_product = all_products[wishlist_item] %}
            {% if current_product.handle == product.handle %}in_wishlist{% endif %}
          {% endfor %}"
          data-handle="{{ product.handle }}"></div>
      </div>
      {% if product.tags.size > 0 %}
        <div class="flex gap-[8px] mb-[8px]">
          {% for tag in product.tags %}
            {% assign tagcheck = tag | downcase %}
            <span class="pt-[4px] pb-[5px] px-[12px] rounded-[9px] product-labels text-taupe-800 {% if tagcheck contains "new launch" %} bg-[#D8E2DC] {% elsif tagcheck contains "%" %} true bg-[#FAE1DD] {% else %} bg-[#DEE2FF] {% endif %} ">{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}
      <h1 class="subtitle-1-bold text-taupe mb-[8px]">{{ product.title }}</h1>
      <h2 class="body-s text-taupe-200 mb-[16px]">{{ product.metafields.custom.product_short_description | metafield_tag }}</h2>

      <h2 class="product_price mb-[4px]">
        {% assign show_variant_price = product.selected_or_first_available_variant %}
        {% include 'product_price' with show_variant_price %}
      </h2>
      {% if product.selected_or_first_available_variant.weight != 0 %}
        <h3 class="product_weight footnes text-taupe mb-[21px]">
          {{ product.selected_or_first_available_variant.weight }} Gramm
          ( {{ 1000 | times: product.selected_or_first_available_variant.price | divided_by: product.selected_or_first_available_variant.weight | money }} / 1kg ) Inclusive Of All Taxes
        </h3>
      {% endif %}
      {% if product.has_only_default_variant %}
        {% else %}
          <div class="flex flex-col border border-taupe-20 my-[16px]">
            {% for variant in product.variants %}
              <label
                for="{{ variant.id }}"
                data-price="{{ variant.price }}"
                data-compare-at-price="{{ variant.compare_at_price }}"
                data-weight="{{ variant.weight }}"
                class="product_page_variant flex gap-[8px] h-[55px] cursor-pointer border-b border-taupe-20 last:border-b-0 flex items-center px-[16px]">
                <input
                  class="pointer-events-none radio_button_custom"
                  type="radio"
                  id="{{ variant.id }}"
                  name="product_variant"
                  {% if variant.id == product.selected_variant.id %}
                  checked
                  {% endif %}
                  {% if product.selected_variant == nil and forloop.index == 1 %}
                  checked
                  {% endif %}>
                <h3 class="pointer-events-none text-[#54443B] text-[16px]">{{ variant.option1 }} -
                  {% assign show_variant_price = variant %}
                  {% include 'product_price' with show_variant_price %}</h3>
              </label>
            {% endfor %}
          </div>
      {% endif %}
    </div>

    <div class="add_to_cart_el flex gap-[8px] text-ecru m-[16px]">
      <div class="min-w-[146px] min-h-[56px] border border-ecru px-[16px] flex justify-between items-center rounded-[24px] bg-neutral">
        <div id="input_minus" class=" w-[32px] h-[32px] flex justify-center items-center cursor-pointer">-</div>
        <input
          class="CTA text-ecru bg-transparent w-[50px] text-center"
          min="1"
          type="number"
          id="quantity"
          name="quantity"
          value="1" />
        <div id="input_plus" class=" w-[32px] h-[32px] flex justify-center items-center cursor-pointer">+</div>
      </div>
      <input
        data-id="{{ product.selected_or_first_available_variant.id }}"
        data-price="{{ product.selected_or_first_available_variant.price | money }}"
        type="submit"
        value="ADD TO CART"
        class="product_add CTA text-white flex justify-center items-center w-full text-center bg-ecru rounded-[24px] btn cursor-pointer whitespace-pre-wrap px-[16px]" />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-[8px] mx-[16px] mb-[16px] md:mb-[40px]">
      {% for obj in product.metafields.custom.product_description_tags.value %}
        <div class="flex gap-[8px] items-center">
          <div class="w-[44px] h-[41px] ">
            <img
              class="w-full h-full object-contain"
              src="{{ obj.image | image_url }}"
              alt="">
          </div>
          <h3 class="body-s text-taupe-200">{{ obj.text }}</h3>
        </div>
      {% endfor %}
    </div>
    <ul class="w-full flex flex-col">
      {% if product.description != null and product.description != '' %}
        <li class="border-t border-taupe-20">
          <div class="list_item flex flex-col px-[16px]">
            <div class="list_title h-[63px] flex justify-between items-center cursor-pointer">
              <h2 class="body-m-semibold text-taupe">Description</h2>
              <div class="list_arrow h-[32px] w-[32px]"></div>
            </div>
            <div class="list_content">
              <h3 class="body-s text-taupe">{{ product.description }}</h3>
            </div>
          </li>
        {% endif %}
      </li>
      {% if product.metafields.custom.product_accordion_clinically_safe != null and product.metafields.custom.product_accordion_clinically_safe != '' %}
        <li class="border-t border-taupe-20">
          <div class="list_item flex flex-col  px-[16px]">
            <div class="list_title h-[63px] flex justify-between items-center cursor-pointer">
              <h2 class="body-m-semibold text-taupe">Clinical Safe Product</h2>
              <div class="list_arrow h-[32px] w-[32px]"></div>
            </div>
            <div class="list_content">
              <h3 class="body-s text-taupe">{{ product.metafields.custom.product_accordion_clinically_safe | metafield_tag }}</h3>
            </div>
          </div>
        </li>
      {% endif %}
      {% if product.metafields.custom.product_accordion_ingridients != null and product.metafields.custom.product_accordion_ingridients != '' %}
        <li class="border-t border-taupe-20">
          <div class="list_item flex flex-col px-[16px]">
            <div class="list_title h-[63px] flex justify-between items-center cursor-pointer">
              <h2 class="body-m-semibold text-taupe">Ingridients</h2>
              <div class="list_arrow h-[32px] w-[32px]"></div>
            </div>
            <div class="list_content">
              <h3 class="body-s text-taupe">{{ product.metafields.custom.product_accordion_ingridients | metafield_tag }}</h3>
            </div>
          </div>
        </li>
      {% endif %}
      {% if section.blocks.size > 0 %}
        <li class="border-t border-taupe-20">
          <div class="list_item flex flex-col px-[16px]">
            <div class="list_title h-[63px] flex justify-between items-center cursor-pointer">
              <h2 class="body-m-semibold text-taupe">FAQ</h2>
              <div class="list_arrow h-[32px] w-[32px]"></div>
            </div>
            <div class="list_content">
              <div class="flex flex-col gap-[8px]">
                {% for block in section.blocks %}
                  {% if block.type == "Product_FAQ" %}
                    <h3 class="body-m-semibold text-taupe">{{ block.settings.faq_title }}</h3>
                    <h4 class="body-s text-taupe">{{ block.settings.faq_answer }}</h4>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endif %}
      {% if product.metafields.custom.product_accordion_certification != null and product.metafields.custom.product_accordion_certification != '' %}
        <li class="border-t border-taupe-20">
          <div class="list_item flex flex-col px-[16px]">
            <div class="list_title h-[63px] flex justify-between items-center cursor-pointer">
              <h2 class="body-m-semibold text-taupe">Certification</h2>
              <div class="list_arrow h-[32px] w-[32px]"></div>
            </div>
            <div class="list_content">
              <h3 class="body-s text-taupe">{{ product.metafields.custom.product_accordion_certification | metafield_tag }}</h3>
            </div>
          </div>
        </li>
      {% endif %}
    </ul>
  </div>
</div>


{% schema %}
  {
    "name": "Product Page",
    "settings": [],
    "blocks": [
      {
        "type": "Product_FAQ",
        "name": "Product Accordion - FAQ",
        "settings": [
          {
            "type": "text",
            "label": "Faq Title",
            "id": "faq_title"
          }, {
            "type": "text",
            "label": "Faq Answer",
            "id": "faq_answer"
          }
        ]
      }
    ]

  }
{% endschema %}
{% comment %}

<h2 class="text-[14px] text-center">Product Price: {{ product.price | money_without_trailing_zeros }} |
<span class="line-through">{{ product.compare_at_price | money_without_trailing_zeros }}
</span>
|
{% assign offer_price = product.price %}
{% assign max_price = product.compare_at_price | times: 1.0 %}
{% assign discount = offer_price | divided_by: max_price %}
{{ discount | times: 100 | minus: 100 | round: 2 }} %
</h2>

{% render "product_recommendations" %}

Product Metafields:
{{ product.metafields.custom.product_ingridients_metafield }}
{% for field in product.metafields.custom.product_ingridients_metafield.value %}
<!-- forloop{{ field | json }} -->
{% endfor %}
{% endcomment %}