<div
  class="section mt-[64px]">
  <div
    class="usage_guide_video w-full aspect-video rounded-[24px] mb-[24px] overflow-hidden">
    {{ section.settings.usage_guide_video | video_tag: autoplay: true, loop: true }}
  </div>
  <h2
    class="text-center text-[32px] sm:text-[48px] mb-[48px] w-auto">
    {% if section.settings.title_image != null %}
      <span
        class="w-[50px] h-[50px]">
        <img
          class="h-[42px] inline-block"
          src="{{ section.settings.title_image | img_url: 'master'}}"
          alt="">
      </span>
    {% endif %}
    {% comment %} {% endcomment %}
    {% if section.settings.section_title != null %}
      {{ section.settings.section_title }}
    {% endif %}
    {% comment %} {% endcomment %}
    {% if section.settings.title_image != null %}
      <span
        class="w-[50px] h-[50px]">
        <img
          class="h-[42px] inline-block"
          src="{{ section.settings.title_image | img_url: 'master'}}"
          alt="">
      </span>
      {% comment %} {% endcomment %}
    {% endif %}
  </h2>
  <ul
    class="flex w-full items-center justify-center gap-[8px] flex-wrap">
    {% for block in section.blocks %}
      <li
        class="list_item w-[358px] flex flex-col bg-white rounded-[24px] py-[24px] px-[16px]">
        <div
          class="list_title flex justify-between items-center">
          <h2>Step</h2>
          <div
            class="list_arrow h-[32px] w-[32px]"></div>
        </div>
        <div
          class="list_content flex flex-col">
          <img
            class="w-[152px] h-[152px] object-contain self-center"
            src="{{ block.settings.step_image | img_url: 'master'}}"
            alt="">
          <h2
            class="text-[17px]">{{ block.settings.step_text }}</h2>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
<div
  class="swiper product_usage_swiper">
  <div
    class="swiper-wrapper">
    {% for block in section.blocks %}
      <div
        class="swiper-slide bg-white border border-[#E6DFDB] rounded-[24px] p-[24px]">
        <h2>step {{ forloop.index }}</h2>
        <h2
          class="text-[17px]">{{ block.settings.step_text }}</h2>
        <div
          class="w-[278px] h-[170px] overflow-hidden rounded-[20px]">
          <img
            class="object-cover self-center"
            src="{{ block.settings.step_image | img_url: 'master'}}"
            alt=""></div>
      </div>
    {% endfor %}
  </div>
  <div
    class="swiper-button-prev "></div>
  <div
    class="swiper-button-next"></div>
</div>
{% schema %}
  {
    "name": "Product Usage Guide",
    "settings": [
      {
        "type": "text",
        "label": "Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }, {
        "type": "video",
        "label": "Usage Guide Video",
        "id": "usage_guide_video"
      }
    ],
    "blocks": [
      {
        "type": "Step",
        "name": "Step",
        "settings": [
          {
            "type": "richtext",
            "label": "Step Text",
            "id": "step_text"
          }, {
            "type": "image_picker",
            "label": "Step Image",
            "id": "step_image"
          }
        ]
      }
    ]

  }
{% endschema %}