{% if section.blocks.size > 1 %}
  <div class="section pt-[88px] pb-[112px]">
    <div class="flex flex-col lg:flex-row w-full border border-taupe-20 bg-white rounded-[20px]">
      <div class="w-1/2 px-[24px] py-[42px] lg:border-r border-taupe-20">
        <div class="sticky top-[45vh] caption text-center text-taupe text-[FF0000]">
          {% for block in section.blocks %}
            {% if block.type == "paragraph" %}
              {% if block.settings.snippet_image != null %}
                &nbsp
                <span class="caption border border-taupe-20 rounded-[20px] h-[44px] pl-[21px] pr-[9px] inline-block">
                  {{ block.settings.text_snippet }}
                  <img
                    class="h-[31px] w-[33px] inline-block"
                    src="{{ block.settings.snippet_image | img_url: 'master'}}"
                    alt="">
                </span>
              {% else %}
                <span class="caption">{{ block.settings.text_snippet }}</span>
              {% endif %}
          {% endif %}
        {% endfor %}
        </div>
      </div>
      <div class="flex flex-col w-1/2 py-[42px] px-[24px] border-b lg:border-b-0 border-taupe-20 gap-[32px]">
        {% for block in section.blocks %}
          {% if block.type == "ingridient" %}
          <div class="flex flex-col lg:flex-row w-full min-h-[201px] justify-center gap-[16px] items-center">
            <div class="h-[185px] w-[142px] rounded-[60px] border border-taupe-20 overflow-hidden">
              <img
                class="w-full h-full object-cover"
                src="{{ block.settings.ingridient_image | img_url: 'master'}}"
                alt="">
            </div>
            <div class="key_ingridient_list_item flex flex-col gap-[8px] max-w-[450px] min-h-[170px] relative ">
              <h2 class="h8 text-taupe">{{ block.settings.ingridient_title }}</h2>
              <div class="max-h-[96px] overflow-hidden">
                <h3 class="body-s text-taupe-200 ">{{ block.settings.ingridient_description }}</h3>
              </div>
              <div class="absolute h-[40px] bg-[#FBF9F9] flex items-center justify-center left-[0] bottom-[-7px]">
                <h3 class="read_more body-m text-taupe underline">Read more +</h3>
              </div>
            </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Product Key Ingridients",
    "settings": [
      {
        "type": "text",
        "label": "Ingridients Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "ingridient",
        "name": "Ingridient",
        "settings": [
          {
            "type": "text",
            "label": "Ingridient Title",
            "id": "ingridient_title"
          }, {
            "type": "text",
            "label": "Ingridient Description",
            "id": "ingridient_description"
          }, {
            "type": "image_picker",
            "label": "Ingridient Image",
            "id": "ingridient_image"
          }
        ]
      },
      {
        "type": "paragraph",
        "name": "Paragraph Text",
        "settings": [
          {
            "type": "text",
            "label": "Text Snippet",
            "id": "text_snippet"
          }, {
            "type": "image_picker",
            "label": "Text Snippet Image",
            "id": "snippet_image"
          }
        ]
      }
    ]

  }
{% endschema %}