<div class="section">
  {% assign title_text = section.settings.section_title %}
  {% assign title_image = section.settings.title_image %}
  {% include 'section_title' with title_text, title_image %}
  <div class="flex flex-wrap gap-[16px]">
    {% for block in section.blocks %}
      <div class="flex flex-col justify-between w-[358px] sm:w-[316px] h-[417px] rounded-[48px] border border-[#E6DFDB] overflow-hidden">
        <div class="h-[260px] w-full border-b border-[#E6DFDB] ">
          <img
            class="w-full h-full object-cover"
            src="{{ block.settings.ingridient_image | img_url: 'master'}}"
            alt="">
        </div>
        <div class="bg-white flex flex-col py-[32px] px-[16px]">
          <h2 class="text-[32px]">{{ block.settings.ingridient_title }}</h2>
          <div class="flex">
            <h3 class="text-[18px]">{{ block.settings.ingridient_country_name }}</h3>
            <div class="w-[37px] h-[37px] overflow-hidden rounded-full overflow-hidden shrink-0">
              <img
                src="//cdn.shopify.com/static/images/flags/{{ block.settings.ingridient_country_code | downcase }}.svg?width=32"
                alt=""
                srcset="//cdn.shopify.com/static/images/flags/{{ block.settings.ingridient_country_code | downcase }}.svg?width=32"
                class="w-full h-full object-cover">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Ingridient Sourcing",
    "settings": [
      {
        "type": "text",
        "label": "Ingridients Section Title",
        "id": "section_title"
      }, {
        "type": "image_picker",
        "label": "Title Images",
        "id": "title_image"
      }
    ],
    "blocks": [
      {
        "type": "Ingridient",
        "name": "Ingridient",
        "settings": [
          {
            "type": "text",
            "label": "Ingridient_title",
            "id": "ingridient_title"
          }, {
            "type": "image_picker",
            "label": "Ingridient Image",
            "id": "ingridient_image"
          }, {
            "type": "text",
            "label": "Ingridient Country",
            "id": "ingridient_country_name"
          }, {
            "type": "text",
            "label": "Ingridient Country Code",
            "id": "ingridient_country_code"
          }
        ]
      }
    ]
  }
{% endschema %}