<div class="section">
  {% include 'breadcrumb' %}
  <div class="article_single max-w-[867px] mx-[auto] flex flex-col pb-[56px] px-[0] sm:px-[16px]">
    <h1 class="h1 text-taupe text-center pt-[24px] pb-[80px]">{{ article.title }}</h1>
    <div class="w-full h-[240px] sm:h-[407px] md:h-[559px] rounded-[17px] overflow-hidden mb-[32px]">
      <img
        class="w-full h-full object-cover"
        src="{{ article.image | img_url: 'master'}}"
        alt="">
    </div>
    <h2 class="border border-[#E6DFDB] rounded-[12px] text-center py-[10px] mb-[14px] body-s text-taupe-200">by {{ article.author }} | {{ article.published_at | date: "%b %d, %y" }}</h2>
    <div class="article_content">{{ article.content }}</div>
  </div>
</div> 