<div class="section flex flex-col md:flex-row contact_us_page mb-[64px]">
  <div class="sm:py-[56px] md:pr-[64px]">
    <h2 class="h1 text-taupe text-center pb-[16px]">{{ section.settings.title1 }}</h2>
    <div class="body-s text-taupe-200 text-center pb-[20px]">{{ section.settings.paragraph1 }}</div>
    <div class="flex flex-col">
      <a href="mailto:{{ settings.product_enquiries_email }}" class="flex w-full h-[68px]">
        <div class="w-[72px] h-[68px] icon icon_mail"></div>
        <div class="flex flex-col justify-between">
          <h4 class="body-m semibold text-taupe">Product Enquiries</h4>
          <h4 class="body-s underline text-taupe-200">{{ settings.product_enquiries_email }}</h4>
        </div>
      </a>
      <a href="mailto:{{ settings.shipping_enquiries_email }}" class="flex w-full h-[68px]">
        <div class="w-[72px] h-[68px] icon icon_mail"></div>
        <div class="flex flex-col justify-between">
          <h4 class="body-m semibold text-taupe">Shipping Enquiries</h4>
          <h4" class="body-s underline text-taupe-200">{{ settings.shipping_enquiries_email }}</h4>
        </div>
      </a>
      <div class="flex gap-2 w-full py-6 px-2">
        <div class="w-[72px] h-[68px] icon icon_phone"></div>
        <div class="flex flex-col justify-between gap-4">
          <h4 class="body-m semibold text-taupe">Phone</h4>
          <a href="tel:{{ settings.phone_number | remove: ' ' }}" class="body-s underline text-taupe-200">{{ settings.phone_number }}</a>
        </div>
      </div>
      <div class="flex gap-2 w-full py-6 px-2">
        <div class="w-[72px] h-[68px] icon icon_address"></div>
        <div class="flex flex-col justify-between gap-4">
          <h4 class="body-m semibold text-taupe">Address</h4>
          <h4 class="body-s underline text-taupe-200">{{ settings.address }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:py-[56px] md:pl-[64px]">
    <h2 class="h1 text-taupe text-center pb-[8px]">{{ section.settings.title2 }}</h2>
    {% if section.settings.working_hours_show == true %}
      <h3 class="body-m-semibold text-taupe text-center py-2">Business Hour - {{ settings.working_hours }}</h3>
    {% endif %}
    <h2 class="body-s text-taupe-200 text-center py-2 px-[16px]">{{ section.settings.paragraph2 }}</h2>
    <div class="mx-auto max-w-[426px]">
    {% form 'contact' %}
      <div class="first-name">
        <input
          type="text"
          name="contact[first_name]"
          id="first-name"
          placeholder="First name" />
      </div>
      <div class="phone">
        <input
          type="tel"
          name="contact[phone]"
          id="phone"
          placeholder="Phone" />
      </div>

      <div class="email">
        <input
          type="email"
          name="contact[email]"
          id="email"
          placeholder="Email address" />
      </div>

      <div class="message">
        <textarea
          name="contact[body]"
          id="message"
          placeholder="Message"></textarea>
      </div>

      <div class="submit">
        <input class="CTA" type="submit" value="SEND" />
      </div>

      {{ form.errors | default_errors }}
    {% endform %}
    </div>
  </div>
</div>
<div class="section max-h-[566px] google_map mb-[64px]">
  {{ section.settings.map_link }}
</div>

{% schema %}
  {
    "name": "Contact Page Details",
    "settings": [
      {
        "type": "text",
        "label": "Contact Details Title",
        "id": "title1"
      },
      {
        "type": "richtext",
        "label": "Contact Details Paragraph",
        "id": "paragraph1"
      },
      {
        "type": "text",
        "label": "Contact us form title",
        "id": "title2"
      },
      {
        "type": "richtext",
        "label": "Contact us form paragraph",
        "id": "paragraph2"
      }, {
        "type": "checkbox",
        "label": "Show working hours",
        "id": "working_hours_show",
        "default": true
      }, {
        "type": "text",
        "label": "Google Maps Iframe Embed link",
        "id": "map_link"
      }
    ]
  }
{% endschema %}