<div class="faq_page w-full">
  <h1 class="m-auto text-[50px] text-center">FAQs</h1>
  <ul class="account_navigation mx-[auto]">
    <li class="{% if selected == 'account' %}active{% endif %}">
      <a href="/account">
        <h3>ALL</h3>
      </a>
    </li>
    {% assign categories = ["all"] %}
    {% for block in section.blocks %}
      {% assign category = block.settings.category %}
      {% if category != blank %}
        {% for assigned_category in categories %}
          {% if assigned_category != category %}
            {% assign categories = categories | push: category %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <li class="{% if selected == 'orders' %}active{% endif %}">
        <a href="/pages/orders">
          <h3>{{ block.settings.category }}</h3>
        </a>
      </li>
    {% endfor %}
  </ul>
  {{ categories }}
  <ul class="w-full flex flex-col max-w-[868px] mx-[auto]">
    {% for block in section.blocks %}
      <li class="border-b border-[#E6DFDB]" data-category="{{ block.settings.category }}">
        <div class="list_item flex flex-col px-[16px]">
          <div class="list_title h-[64px] flex justify-between items-center">
            <h2 class="text-[16px]">{{ block.settings.category }}{{ block.settings.title }}</h2>
            <div class="list_arrow h-[32px] w-[32px]"></div>
          </div>
          <div class="list_content pb-[16px]">
            <p>{{ block.settings.paragraph }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
  {
    "name": "FAQ Page",
    "settings": [],
    "blocks": [
      {
        "type": "section",
        "name": "FAQ Question",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          }, {
            "type": "text",
            "label": "Paragraph",
            "id": "paragraph"
          }, {
            "type": "text",
            "label": "Category",
            "id": "category"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "block",
        "name": "FAQ"
      }
    ]
  }
{% endschema %}