<footer class="my-[32px] lg:my-[56px]">
  <div class="section">
    <div class="w-full border border-ecru-x">
      <div class="flex flex-wrap md:flex-nowrap border-b border-ecru-x ">
        <div class="flex  flex-col w-full md:max-w-[886px] md:border-r md:border-ecru-x border-b md:border-b-0">
          <div class="w-full flex flex-col sm:flex-row justify-between pt-[8px] sm:pt-[0]">
            {% for link in linklists.footer.links %}
              <div class="flex flex-col footer_nav_entry py-[0] sm:py-[24px] px-[24px] sm:px-[16px] grow basis-0">
                <div class="footer_entry_title relative pt-4 sm:pt-[0]">
                  <h2 class="h8 text-taupe mb-[16px]">{{ link.title }}</h2>
                  <div class="footer_expand">
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <ul class="flex flex-col gap-[8px] py-[8px]">
                  {% for child_link in link.links %}
                    <li>
                      <a href="{{ child_link.url }}">
                        <h3 class="body-s text-taupe-200">{{ child_link.title }}</h3>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
          <div class="flex flex-col py-[16px] px-[24px] md:px-[16px] gap-[16px] h-full min-h-[250px] justify-center border-t border-taupe-20">
            <a href="{{ shop.url }}">
              <img
                class="bg-center w-[241px] h-[40px] "
                src="{{ section.settings.footer_logo | img_url: 'master'}}"
                alt="">
            </a>
            <h2 class="footness w-full">{{ section.settings.footer_text }}</h2>
          </div>
        </div>
        <div class="border-r border-ecru-x border-b sm:border-b-0 w-full sm:w-[50%] md:w-[333px] py-[24px] flex flex-col justify-between px-[16px]">
          <div>
            <h2 class="mb-4 h8 text-taupe">Order support</h2>
            <a href="tel:{{ settings.phone_number | remove: ' ' }}" class="break-words mb-[3px] h7 text-taupe-x underline">{{ settings.phone_number }}</a>
            <h3 class="break-words mb-6 body-m text-taupe-200">{{ settings.working_hours }}</h3>
            <a href="mailto:{{ settings.email }}" class="break-words body-s text-taupe">{{ settings.email }}</a>
          </div>
          <div class="flex flex-col gap-[16px]">
            <h2 class="h8 text-taupe">Stay updated</h2>
            <input
              class="bg-white body-m px-[16px] py-[14.5px] body-m text-taupe placeholder-taupe-50 border border-ecru-x rounded-[12px] w-full"
              placeholder="First Name"
              type="text"
              name=""
              id="">
            <input
              class="bg-white body-m px-[16px] py-[14.5px] body-m text-taupe placeholder-taupe-50 border border-ecru-x rounded-[12px] w-full"
              placeholder="Email Address"
              type="email"
              name=""
              id="">
            <input
              class="CTA text-white py-[18.5px] px-[16px] bg-ecru rounded-[12px] w-fit"
              type="button"
              value="SEND">
          </div>
        </div>
        <div class="w-full sm:w-[50%] md:w-[95px] py-[32px] px-[20.5px] flex flex-row md:flex-col gap-[24px] min-w-[87px] items-center justify-around md:justify-center">
          {% if settings.instagram_link != null and section.settings.instagram_link == true %}
            <a href="{{ settings.instagram_link }}" class="footer_social instagram_footer"></a>
          {% endif %}
          {% if settings.facebook_link != null and section.settings.facebook_link == true %}
            <a href="{{ settings.facebook_link }}" class="footer_social facebook_footer"></a>
          {% endif %}
          {% if settings.twitter_link != null and section.settings.twitter_link == true %}
            <a href="{{ settings.twitter_link }}" class="footer_social twitter_footer"></a>
          {% endif %}
          {% if settings.linkedin_link != null and section.settings.linkedin_link == true %}
            <a href="{{ settings.linkedin_link }}" class="footer_social linkedin_footer"></a>
          {% endif %}
        </div>
      </div>
      <div class="flex flex-col-reverse sm:flex-row justify-between items-center sm:pr-[42px] min-h-[56px]">
        <div class="py-[17.5px] px-[24px]">
          <h3 class="inline footness-bold text-taupe-200">© {{ "now" | date: "%Y" }} Cultivator Natural Products</h3>
          <h3 class="inline footness-bold text-taupe-200">|</h3>
          <h3 class="inline footness-bold text-taupe-200">Website Design and Development by</h3>
          <a href="https://grind.studio/" class="grind_logo inline-block"></a>
        </div>
        <div class="flex gap-2 items-center justify-center border-b border-ecru-x sm:border-0 m-auto sm:m-[unset] py-[12px] w-full sm:w-[250px] ">
          {% for block in section.blocks %}
            <img
              class="w-[35px] h-[24px]"
              src="{{ block.settings.payment_image | img_url: 'master'}}"
              alt="{{ block.settings.payment_name }}"
              title="{{ block.settings.payment_name }}">
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "label": "Footer Logo",
        "type": "image_picker",
        "id": "footer_logo"
      },
      {
        "label": "Footer Text",
        "type": "textarea",
        "id": "footer_text"
      },
      {
        "label": "Show Facebook Link",
        "type": "checkbox",
        "id": "facebook_link"
      },
      {
        "label": "Show Twitter Link",
        "type": "checkbox",
        "id": "twitter_link"
      }, {
        "label": "Show LinkedIn Link",
        "type": "checkbox",
        "id": "linkedin_link"
      }, {
        "label": "Show Instagram Link",
        "type": "checkbox",
        "id": "instagram_link"
      }
    ],
    "blocks": [
      {
        "type": "section",
        "name": "Payment Methods",
        "settings": [
          {
            "type": "image_picker",
            "label": "Payment Method Image",
            "id": "payment_image"
          }, {
            "type": "text",
            "label": "Payment Method Name",
            "id": "payment_name"
          }
        ]
      }
    ]
  }
{% endschema %}