{% assign selected = "orders" %}
{% include 'account_nav' with selected %}

  <div class="section mt-[48px] md:mt-[60px]">
  {% comment %} Mobile {% endcomment %}
  <div
    class="flex md:hidden flex-col gap-[16px]">
    {% paginate customer.orders by 10 %}
      {% for order in customer.orders %}
        <div
          class="w-full bg-white border border-taupe-20 rounded-[20px] py-[23px] px-[16px] flex flex-col gap-[24px]">
          <div
            class="w-full flex justify-between">
            <h2>ORDER</h2>
            <h2
              class="underline">#{{ order.order_number }}</h2>
          </div>
          <div
            class="w-full flex justify-between">
            <h2>DATE</h2>
            <h2>{{ order.financial_status_label }}</h2>
          </div>
          <div
            class="w-full flex justify-between">
            <h2>PAYMENT STATUS</h2>
            <h2>{{ order.created_at | date: '%B %d, %Y' }}</h2>
          </div>
          <div
            class="w-full flex justify-between">
            <h2>FULFILMENT STATUS</h2>
            <h2>{{ order.fulfillment_status_label }}</h2>
          </div>
          <div
            class="w-full flex justify-between">
            <h2>TOTAL</h2>
            <h2>{{ order.line_items_subtotal_price | money_with_currency }}</h2>
          </div>
        </div>
      {% endfor %}
      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>

  {% comment %} Desktop {% endcomment %}
  <div
    class="overflow-hidden">
    <div
      class="orders_wrapper active hidden md:flex flex-col w-full bg-white border border-taupe-20 rounded-[20px] relative py-[24px]">
      <div
        class="grid grid-cols-5 h-[63px] pb-[8px] items-center px-[24px]">
        <h2 class="body-s text-taupe-x">ORDER</h2>
        <h2 class="body-s text-taupe-x">DATE</h2>
        <h2 class="body-s text-taupe-x">PAYMENT STATUS</h2>
        <h2 class="body-s text-taupe-x">FULFILMENT STATUS</h2>
        <h2 class="body-s text-taupe-x justify-self-end">TOTAL</h2>
      </div>
      {% paginate customer.orders by 10 %}
        {% for order in customer.orders %}
          <div
            class="order">
            <div
              class="order_show grid grid-cols-5 h-[55px] items-center border-t border-taupe-20 px-[24px]">
              <h2
                class="underline">#{{ order.order_number }}</h2>
              <h2>{{ order.created_at | date: '%B %d, %Y' }}</h2>
              <h2>{{ order.financial_status_label }}</h2>
              <h2>{{ order.fulfillment_status_label }}</h2>
              <h2
                class="justify-self-end">{{ order.line_items_subtotal_price | money_with_currency }}</h2>
            </div>
            <div
              class="order_content absolute top-[0]">
              <h2
                class="order_hide underline mb-[16px]">Return to Orders</h2>
              <h2
                class="mb-[48px]">#{{ order.order_number }}</h2>
              <div
                class="bg-white border border-taupe-20 rounded-[20px] py-[24px]">
                <div
                  class="grid grid-cols-5 h-[56px] items-center px-[24px]">
                  <h2>PRODUCT</h2>
                  <h2>SKU</h2>
                  <h2>PRICE</h2>
                  <h2>QTY</h2>
                  <h2
                    class="justify-self-end">TOTAL</h2>
                </div>
                {% for line_item in order.line_items %}
                  <div
                    class="grid grid-cols-5 h-[56px] items-center border-t border-[#E6DFDB] px-[24px]">
                    <h2>{{ line_item.title }}</h2>
                    <h2>{{ line_item.sku }}</h2>
                    <h2>{{ line_item.price | money_with_currency }}</h2>
                    <h2>{{ line_item.quantity }}</h2>
                    <h2
                      class="justify-self-end">{{ line_item.price | money_with_currency }}</h2>
                  </div>
                {% endfor %}
                <div
                  class="flex justify-between h-[56px] items-center border-t border-[#E6DFDB] px-[24px]">
                  <div
                    class="flex flex-col">
                    <h2>Subtotal</h2>
                    <h2>Shipping</h2>
                  </div>
                  <div
                    class="flex flex-col">
                    <h2
                      class="justify-self-end">{{ order.line_items_subtotal_price | money_with_currency }}</h2>
                    <h2
                      class="justify-self-end">{{ order.shipping_price | money_with_currency }}</h2>
                  </div>
                </div>
                <div
                  class="flex justify-between h-[56px] items-center border-t border-[#E6DFDB] px-[24px]">
                  <h2>Total</h2>
                  <h2
                    class="justify-self-end">{{ order.total_price | money_with_currency }}</h2>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </div>
</div>

{% comment %} Add schema for pagination {% endcomment %}