<div class="section blog_page">
  <h1 class="w-full text-center text-[36px] mb-[36px]">{{ blog.title }}</h1>
  {% if blog.all_tags.size > 0 %}
    <div class="flex gap-[8px] justify-center w-full">
      <a href="/blogs/{{ blog.title }}">All</a>
      {% for tag in blog.all_tags %}
        <a href="/blogs/{{ blog.title }}/tagged/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}
  <div class="article_listing flex flex-wrap gap-[16px]">
    {% for article in blogs.journals.articles %}
      {% if current_tags.size > 0 %}
        {% for article_tag in article.tags %}
          {% if current_tags contains article_tag %}
            {% include 'article_card' with article %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% include 'article_card' with article %}
      {% endif %}
    {% endfor %}

  </div>
</div>