<div class="section blog_page">
  {% include 'breadcrumb' %}
  <h1 class="w-full text-center mb-[20px] h1 text-taupe mt-[25px]">{{ blog.title }}</h1>
  <div class="p-[16px] overflow-x-auto overflow-y-hidden mb-[30px]">
    <ul class="blog_tag_nagivation flex gap-[8px] justify-center w-full py-[12px] w-max mx-[auto]">
      <li>
        <a href="/blogs/{{ blog.title }}" class="CTA py-[15px] px-[12px] border border-taupe-40 rounded-[16px] text-taupe-40 {% if current_tags.size > 0 %}{% else %} active {% endif %}">ALL</a>
      </li>
      {% for tag in blog.all_tags %}
        <li>
          <a href="/blogs/{{ blog.title }}/tagged/{{ tag }}" class="CTA py-[16px] px-[12px] border border-taupe-40 rounded-[16px] text-taupe-40 {% if current_tags contains tag %} active {% endif %}">{{ tag | upcase }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="article_listing flex flex-wrap gap-y-[16px] sm:gap-y-[32px] sm:gap-x-[16px] sm:gap-x-[0]">
    {% for article in blogs.journals.articles %}
      {% if current_tags.size > 0 %}
        {% for article_tag in article.tags %}
          {% if current_tags contains article_tag %}
            {% include 'article_card' with article %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% include 'article_card' with article %}
      {% endif %}
    {% endfor %}

  </div>
</div>