<header id="desktop_header" class="hidden md:block w-full top-0 left-0 bg-white z-[2] relative">
  <div class="section flex justify-between h-[92px] items-center w-full">
    <ul class="flex w-[391px] min-w-[29%] max-w-[40%] justify-between h-full uppercase">
      {% for link in linklists.main-menu.links %}
      <li class="flex items-center h-full text-[16px]"><a href="{{ link.url }}{%- if link.type == 'collections_link' -%}#{{ link.handle }}{%- endif -%}"><h2 class="text-taupe nav-links">{{ link.title }}</h2></a>
          <ul class="absolute flex justify-center py-[48px] w-full bg-white gap-[24px] top-[100%] left-[0]">
            {% for child_link in link.links %}
              <li>
                {%- if child_link.type == 'collection_link' -%}
                {% assign linkCollection = child_link.object %}
                  <a class="flex flex-col gap-[8px]" href="{{ child_link.url }}">
                    <div class="flex justify-center items-center w-[140px] h-[140px]">
                      <img
                        class="w-[95px] h-[95px]"
                        crossorigin="anonymous"
                        src="{{ linkCollection.featured_image.src | image_url: width: 95, height: 95 }}"
                        alt="">
                    </div>
                    <h3 class="text-center">{{ child_link.title }}</h3></a>
                  {%- else -%}
                    <a class="flex flex-col gap-[8px] text-[14px]" href="{{ child_link.url }}">   
                      <h3 class="text-center">{{ child_link.title }}</h3>
                    </a>
                  {%- endif -%}
              </li>
          </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
    <a href="{{ shop.url }}" class="header_logo_desktop w-[275px] h-[46px]"></a>
    <div class="w-[391px] min-w-[29%] max-w-[40%] flex gap-[8px] items-center justify-end">
      <div class="client_interactions flex gap-[8px]">
        <div class="search_icon w-[36px] h-[36px] cursor-pointer"></div>
        {% comment %}
        <a
          id="link_to_wishlist"
          href="/account/#wishlist"
          class="heart_icon relative">
          <span data-count-wishlist="" class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box"></span>
        </a>
        {% endcomment %}
        <a href="/account" class="profile_icon"></a>
      </div>
      <a href="javascript:void(0);" class="cart_div flex w-[80px] h-[41px] rounded-[14px] border-[1px] border-taupe-20 flex gap-[16px] justify-center items-center">
        <div class="cart_icon"></div>
        <div class="cart_item_count text-taupe body-m">{{ cart.item_count }}</div>
      </a>
      <a href="#" class="change_language w-[36px] h-[36px]"></a>
    </div>
  </div>
</header>

{% include "search_input" %}

<header id="mobile_header" class="block md:hidden w-full top-0 left-0 bg-white z-[2] relative">
  <div class="section flex justify-between py-2 items-center z-[0]">
    <div class="flex gap-4">
      <div class="w-[44px]"></div>
      <div class="search_icon w-[44px] h-[44px] relative"></div>
    </div>
    <a href="{{ shop.url }}" class="header_logo w-[76px] h-[65px]"></a>
    <div class="flex gap-4">
      <a href="/wishlist" class="w-[44px] h-[44px] heart_icon"></a>
      <a href="javascript:void(0);" class="w-[44px] h-[44px] cart_icon cart_icon_mobile"></a>
    </div>
  </div>
  <div class="hamburger absolute left-[24px] top-[19px] z-[2]">
    <div class="hamburger_container">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="mobile_header_items flex z-[1] fixed  w-full top-[0] h-full">
    <div class="w-full max-w-[350px] shrink-0 flex-col bg-neutral px-[16px] pb-[171px] overflow-scroll">
      <div class="h-[81px] flex justify-end px-4 gap-2 items-center">
        <a href="/account" class="profile_icon w-[44px] h-[44px]"></a>
        <a href="#" class="change_language w-6 h-6"></a>
      </div>
      {% for link in linklists.main-menu.links %}
        <div class="flex flex-col header_nav_entry w-full border-b border-[#EAE2DB]">
          <div class="header_title relative  h-[107px] flex items-center ">
            <div class="h-[75px] w-[59px] border border-[#D1BEB1] rounded-[26px] text-[#FF0000]">Image</div>
            <h2 class="text-[20px] ml-[16px]">{{ link.title }}</h2>
            <div class="header_expand ml-[8px]">
              <span></span>
              <span></span>
            </div>
          </div>
          <ul class="flex flex-col w-full ">
            {% for child_link in link.links %}
              <li class="flex items-center text-[14px] w-full h-[71px]">
                <a href="{{ child_link.url }}">{{ child_link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      <div class="absolute left-[0] bottom-[0] w-full bg-neutral min-h-[171px] px-[16px]">
        <a href="tel:{{ settings.phone_number | remove: ' ' }}" class="break-words mb-[3px] text-[32px]">{{ settings.phone_number }}</a>
        <h3 class="break-words mb-6 text-[13px]">{{ settings.working_hours }}</h3>
        <a href="mailto:{{ settings.email }}" class="break-words text-[20px]">{{ settings.email }}</a>
      </div>
    </div>
    <div class="w-full bg-black mobile_header_background_filler opacity-50"></div>
  </div>
</header>
{% schema %}
  {
    "name": "Header",
    "settings": [],
    "blocks": []
  }
{% endschema %}